# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
bin/
lib/
include/

# IDEs
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db

# NumPy/Scientific logs or temporary files
.ipynb_checkpoints